<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="spring5_webmvc_mybatis_study.mapper.MemberMapper"><!-- 앞에 이  dao가 들어있는 패키지명 붙여주기 -->

	<sql id="selectSQL">
		select ID, EMAIL, PASSWORD, NAME, REGDATE from member

	</sql>

	<sql id="whereSQL">
		<where>
			<if test="email != null">  <!-- 만약 넣이면 이거 안붙는다 -->
				email=#{email}
			</if>
		</where>
	</sql>
	<select id="selectByEmail" parameterType="String"
		resultType="Member"><!-- 이 안에서 new Student 해주고 디폴트생성자도 만들어주고 알아서 set도 다 해준다. 편하당 -->
		<!-- <include refid="selectSQL" />
		<include refid="whereSQL" /> -->
		select id, email, password, name, regDate from member where email = #{email}
	</select>
 	
	<select id="selectAll" resultType="Member">
		<include refid="selectSQL"></include>
	</select>
	
	<insert id="insert" >
	insert into member (email,password,name,regDate) values(#{email},#{password},#{name},#{registerDateTime})
	</insert>
	
	<update id="update">
		update member 
		   set name=#{name}, password=#{password} 
		 where email=#{email}
	</update>
	
	<select id="selectMemberByRegdate" resultMap="resMember">
		select * from member
			where regdate between #{from} and #{to}
			order by regdate desc;
	</select>
	
	<resultMap type="Member" id="resMember">
		<id column="id" property="id"/>
		<result column="regdate" property="registerDateTime"/>
	</resultMap>

</mapper>